.footer {
  padding-top: 30px;
  padding-bottom: 50px;
  background: #152123;
}

.footer__logo img {
  width: 60px;
  margin-bottom: 10px;
}

.divider {
  border-bottom: 2px dashed #2D3350;
}

.footer__logo h5 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer__logo p {
  font-size: 1rem;
  color: pink-50;
  line-height: 20px;
}

.delivery__time-item {
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 500;
  font-size: 1.3rem;
  color: pink-50;
}

.delivery__time-item p {
  color: pink-50;
}
.footer__title {
  font-size: 1.4rem;
  color: pink-50;
  font-weight: 500;
}

.newsletter {
  padding: 7px;
  border: 0.7px solid teal;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.newsletter input {
  background: transparent;
  border: none;
  outline: none;
  color: cyan
}

.newsletter input:focus {
  outline: none;
}

/* .newsletter span {
  background: #fbfbfb;
  padding: 12px 12px;
  border-radius: 4px;
  display: inline;
}

.newsletter span i {
  color: #fff;
} */

.newsletter input::placeholder {
  color: #b73f3f;
}

.social__links span i {
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius: 50%;
}

.copyright__text {
  font-size: 0.9rem;
  color: #df2020;
}

@media only screen and (max-width: 992px) {
  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }
  .newsletter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
    color: teal-300;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }

  .social__links p {
    font-size: 0.8rem;
  }

  .social__links span {
    padding: 4px;
  }
  .social__links span a {
    font-size: 0.7rem;
  }
}
